### 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np
from isoweek import Week
import time
from pandas import Series, DataFrame
from collections import OrderedDict
import matplotlib.pyplot as plt

In [2]:
actualData = pd.read_csv("../dataset/pro_actual_sales.csv")

In [3]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [4]:
actualData.dtypes

regionSeg1      object
productSeg1    float64
productSeg2     object
regionSeg2      object
regionSeg3      object
productSeg3     object
yearweek         int64
year             int64
week             int64
qty              int64
dtype: object

In [5]:
len(actualData.index)

140867

### 활용가능 함수 (preWeek은 postWeek 활용 제작)

In [6]:
## postWeek 함수 생성 

def postWeek(inputYW, gapWeek) :
    inputYW = str(inputYW)
    inputY = inputYW[0:4]
    inputW = inputYW[4:]
    
    gapWeek = int(gapWeek)
    
    sumWeek = int(inputW) + gapWeek
    
    currYear = int(inputY)
    lastWeek = Week.last_week_of_year(currYear).week
    
    while(sumWeek > lastWeek) :
        sumWeek -= lastWeek
        currYear += 1
        lastWeek = Week.last_week_of_year(currYear).week
        
    if(sumWeek < 10) :
        lastAnswer = str(currYear) + "0" + str(sumWeek)
    else :
        lastAnswer = str(currYear) + str(sumWeek)
    
    return lastAnswer